*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}
app-gallery{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;

    padding: 110px 30px;
}