div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    border: 1px solid #000000;

    width: 400px;
    height: 480px;
}
.photo{
    margin-bottom: 10px;

    height: 380px;
    width: 350px;
}
.heart{
    height: 30px;

    border: 1px solid #000000;
    border-radius: 100%;
    padding: 10px;
}
.liked{
    height: 30px;

    border: 1px solid #000000;
    border-radius: 100%;
    padding: 10px;

    background-color: red;
}

